@namespace Klazor

<CascadingValue Value="this">
    <div class="form-group row">
        <label for="@currentLabel" class="@labelClassname">@currentLabel</label>
        <div class="@inputClassname">
            @ChildContent
        </div>
    </div>
</CascadingValue>