<AuthorizeView>
    <Authorized>
        <a href="Identity/Account/Manage">Hello, @context.User.Identity.Name!</a>
        <form method="post" action="Identity/Account/LogOut">
            <button type="submit" class="nav-link btn btn-link">登出</button>
        </form>
    </Authorized>
    <NotAuthorized>
        <a href="Identity/Account/Register">注册</a>
        <a href="Identity/Account/Login">登陆</a>
    </NotAuthorized>
</AuthorizeView>
