<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">PinhuaMaster.App</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="基础数据/字典">
                <span class="oi oi-list-rich" aria-hidden="true"></span> 字典
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="基础数据/商品">
                <span class="oi oi-list-rich" aria-hidden="true"></span> 商品
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="基础数据/客户">
                <span class="oi oi-list-rich" aria-hidden="true"></span> 客户
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="基础数据/供应商">
                <span class="oi oi-list-rich" aria-hidden="true"></span> 供应商
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="销售/报价">
                <span class="oi oi-list-rich" aria-hidden="true"></span> 报价
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="销售/订单">
                <span class="oi oi-list-rich" aria-hidden="true"></span> 订单
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="销售/出库">
                <span class="oi oi-list-rich" aria-hidden="true"></span> 出库
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="销售/收款">
                <span class="oi oi-list-rich" aria-hidden="true"></span> 收款
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
