<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">PinhuaMaster.App</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> 首页
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="基础数据/字典">
                <span class="oi oi-list-rich" aria-hidden="true"></span> 字典
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="基础数据/商品">
                <span class="oi oi-list-rich" aria-hidden="true"></span> 商品
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="基础数据/往来">
                <span class="oi oi-list-rich" aria-hidden="true"></span> 往来
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="销售/报价">
                <span class="oi oi-list-rich" aria-hidden="true"></span> 销售报价
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="销售/订单">
                <span class="oi oi-list-rich" aria-hidden="true"></span> 销售订单
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="销售/出库">
                <span class="oi oi-list-rich" aria-hidden="true"></span> 销售出库
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="销售/收款">
                <span class="oi oi-list-rich" aria-hidden="true"></span> 销售收款
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="采购/申请">
                <span class="oi oi-list-rich" aria-hidden="true"></span> 采购申请
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="采购/询价">
                <span class="oi oi-list-rich" aria-hidden="true"></span> 采购询价
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="采购/订单">
                <span class="oi oi-list-rich" aria-hidden="true"></span> 采购订单
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="采购/入库">
                <span class="oi oi-list-rich" aria-hidden="true"></span> 采购入库
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="采购/付款">
                <span class="oi oi-list-rich" aria-hidden="true"></span> 采购付款
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="基础数据/报表">
                <span class="oi oi-list-rich" aria-hidden="true"></span> 报表
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
