@page
@model Pinhua2.Web.Pages.采购.采购订单.DeleteModel

@{
    ViewData["Title"] = "Delete";

    var templateModel = new _CRUD_Template_Model
    {
        RecordMain = new _CRUD_Template_Model_Main
        {
            Title = "采购订单",
            Data = Model.Record,
        },
        RecordDetailsArray = new List<_CRUD_Template_Model_Details>
{
            new _CRUD_Template_Model_Details
            {
                Title="明细",
                Data = Model.RecordDs.Cast<object>(),
            },
        }
    };
}

<partial name="_CRUD_Template/_Delete" model="templateModel" />

<form method="post">
    <input type="hidden" asp-for="Record.RecordId" />
    <button type="submit" class="btn btn-danger btn-flat"><i class="fa fa-fw fa-close"></i> 删除</button> |
    <a asp-page="./Index">返回列表</a>
</form>
