@page
@model Pinhua2.Web.Pages.销售.销售出库单.CreateModel

@{
    ViewData["Title"] = "Create";

    var templateMain = new _CRUD_Template_Model_Main
    {
        Title = "销售出库",
        Data = Model.vm_Main,
    };
    var templateDetails = new _CRUD_Template_Model_Details
    {
        Title = "明细",
        Data = Model.vm_Details.Cast<object>(),
    };
    var templateSelectModal = new _CRUD_Template_Model_SelectModal
    {
        Title = "待出库列表",
        Url = "/API/销售/订单待发/",
        DataType = typeof(view_AllOrdersIO)
    };

    Model.templateModel = new _CRUD_Template_Model();
    Model.templateModel.RecordMain = templateMain;
    Model.templateModel.RecordDetailsArray.Add(templateDetails);
    Model.templateModel.SelectModal = templateSelectModal;

    var jsonEmptyDetail = JsonConvert.SerializeObject(new vm_销售出库D());
    var jsonCurrentDetails = JsonConvert.SerializeObject(Model?.vm_Details ?? new List<vm_销售出库D>());
}

<partial name="_CRUD_Template/_Create" model="Model.templateModel" />

<div>
    <a asp-page="Index">返回列表</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        var emptyDetail = @Html.Raw(jsonEmptyDetail);
        var currentDetails = @Html.Raw(jsonCurrentDetails);
    </script>

    <partial name="_CRUD_Template/__vue" model="Model" />
}