@page
@model Pinhua2.Web.Pages.主数据.客户.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>客户</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="客户.往来号" class="control-label"></label>
                <input asp-for="客户.往来号" class="form-control" />
                <span asp-validation-for="客户.往来号" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="客户.简称" class="control-label"></label>
                <input asp-for="客户.简称" class="form-control" />
                <span asp-validation-for="客户.简称" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="客户.全称" class="control-label"></label>
                <input asp-for="客户.全称" class="form-control" />
                <span asp-validation-for="客户.全称" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="客户.联系人" class="control-label"></label>
                <input asp-for="客户.联系人" class="form-control" />
                <span asp-validation-for="客户.联系人" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="客户.联系电话" class="control-label"></label>
                <input asp-for="客户.联系电话" class="form-control" />
                <span asp-validation-for="客户.联系电话" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="客户.公司电话" class="control-label"></label>
                <input asp-for="客户.公司电话" class="form-control" />
                <span asp-validation-for="客户.公司电话" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="客户.传真" class="control-label"></label>
                <input asp-for="客户.传真" class="form-control" />
                <span asp-validation-for="客户.传真" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="客户.Qq" class="control-label"></label>
                <input asp-for="客户.Qq" class="form-control" />
                <span asp-validation-for="客户.Qq" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="客户.Email" class="control-label"></label>
                <input asp-for="客户.Email" class="form-control" />
                <span asp-validation-for="客户.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="客户.地址" class="control-label"></label>
                <input asp-for="客户.地址" class="form-control" />
                <span asp-validation-for="客户.地址" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="客户.开户行" class="control-label"></label>
                <input asp-for="客户.开户行" class="form-control" />
                <span asp-validation-for="客户.开户行" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="客户.组织代码" class="control-label"></label>
                <input asp-for="客户.组织代码" class="form-control" />
                <span asp-validation-for="客户.组织代码" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="客户.账号" class="control-label"></label>
                <input asp-for="客户.账号" class="form-control" />
                <span asp-validation-for="客户.账号" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="客户.状态" class="control-label"></label>
                <input asp-for="客户.状态" class="form-control" />
                <span asp-validation-for="客户.状态" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="客户.类型" class="control-label"></label>
                <input asp-for="客户.类型" class="form-control" />
                <span asp-validation-for="客户.类型" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
