@page
@model Pinhua2.Web.Pages.主数据.客户.DeleteModel

@{
    ViewData["Title"] = "Delete";

    var templateModel = new _CRUD_Template_Model
    {
        RecordMain = new _CRUD_Template_Model_Main
        {
            Title = "客户",
            Data = Model.客户,
        },

    };
}

<partial name="_CRUD_Template/_Delete" model="templateModel" />


<form method="post">
    <input type="hidden" asp-for="客户.RecordId" />
    <input type="submit" value="删除" class="btn btn-danger" /> |
    <a asp-page="./Index">返回列表</a>
</form>
