@page
@model Pinhua2.Web.Pages.主数据.客户.DetailsModel

@{
    ViewData["Title"] = "Details";

    var templateModel = new _CRUD_Template_Model
    {
        RecordMain = new _CRUD_Template_Model_Main
        {
            Title = "客户",
            Data = Model.客户,
        },

    };
}

<partial name="_CRUD_Template/_Details" model="templateModel" />

<div>
    <a asp-page="./Edit" asp-route-id="@Model.客户.RecordId">修改</a> |
    <a asp-page="Index">返回列表</a>
</div>

