@page
@model Pinhua2.Web.Pages.主数据.客户.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center mb-3 mt-3">
    <h3>查看 - 客户</h3>
</div>
<div class="row" id="vueScope">
    <div class="col-12">
        @foreach (var cdm in CustomDisplayFactory<vm_客户>.CustomDisplayModels(Model.客户))
        {
            if (cdm.ForRead)
            {
                <div class="form-group row">
                    <label for="" class="col-4 col-sm-2 col-form-label">@cdm.Name</label>
                    <div class="col-8 col-sm-10">
                        <input value="@cdm.Value" class="form-control" readonly />
                    </div>
                </div>
            }
        }
    </div>
</div>

<div>
    <a asp-page="./Edit" asp-route-id="@Model.客户.RecordId">修改</a> |
    <a asp-page="Index">返回列表</a>
</div>

