@page
@model Pinhua2.Web.Pages.主数据.客户.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>sys往来表</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="sys往来表.往来号" class="control-label"></label>
                <input asp-for="sys往来表.往来号" class="form-control" />
                <span asp-validation-for="sys往来表.往来号" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="sys往来表.简称" class="control-label"></label>
                <input asp-for="sys往来表.简称" class="form-control" />
                <span asp-validation-for="sys往来表.简称" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="sys往来表.全称" class="control-label"></label>
                <input asp-for="sys往来表.全称" class="form-control" />
                <span asp-validation-for="sys往来表.全称" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="sys往来表.联系人" class="control-label"></label>
                <input asp-for="sys往来表.联系人" class="form-control" />
                <span asp-validation-for="sys往来表.联系人" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="sys往来表.联系电话" class="control-label"></label>
                <input asp-for="sys往来表.联系电话" class="form-control" />
                <span asp-validation-for="sys往来表.联系电话" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="sys往来表.公司电话" class="control-label"></label>
                <input asp-for="sys往来表.公司电话" class="form-control" />
                <span asp-validation-for="sys往来表.公司电话" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="sys往来表.传真" class="control-label"></label>
                <input asp-for="sys往来表.传真" class="form-control" />
                <span asp-validation-for="sys往来表.传真" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="sys往来表.Qq" class="control-label"></label>
                <input asp-for="sys往来表.Qq" class="form-control" />
                <span asp-validation-for="sys往来表.Qq" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="sys往来表.Email" class="control-label"></label>
                <input asp-for="sys往来表.Email" class="form-control" />
                <span asp-validation-for="sys往来表.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="sys往来表.地址" class="control-label"></label>
                <input asp-for="sys往来表.地址" class="form-control" />
                <span asp-validation-for="sys往来表.地址" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="sys往来表.开户行" class="control-label"></label>
                <input asp-for="sys往来表.开户行" class="form-control" />
                <span asp-validation-for="sys往来表.开户行" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="sys往来表.组织代码" class="control-label"></label>
                <input asp-for="sys往来表.组织代码" class="form-control" />
                <span asp-validation-for="sys往来表.组织代码" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="sys往来表.账号" class="control-label"></label>
                <input asp-for="sys往来表.账号" class="form-control" />
                <span asp-validation-for="sys往来表.账号" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="sys往来表.状态" class="control-label"></label>
                <input asp-for="sys往来表.状态" class="form-control" />
                <span asp-validation-for="sys往来表.状态" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="sys往来表.登记部门" class="control-label"></label>
                <input asp-for="sys往来表.登记部门" class="form-control" />
                <span asp-validation-for="sys往来表.登记部门" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="sys往来表.类型" class="control-label"></label>
                <input asp-for="sys往来表.类型" class="form-control" />
                <span asp-validation-for="sys往来表.类型" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="sys往来表.币种" class="control-label"></label>
                <input asp-for="sys往来表.币种" class="form-control" />
                <span asp-validation-for="sys往来表.币种" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="sys往来表.负责人" class="control-label"></label>
                <input asp-for="sys往来表.负责人" class="form-control" />
                <span asp-validation-for="sys往来表.负责人" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="sys往来表.付款方式" class="control-label"></label>
                <input asp-for="sys往来表.付款方式" class="form-control" />
                <span asp-validation-for="sys往来表.付款方式" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="sys往来表.税收组" class="control-label"></label>
                <input asp-for="sys往来表.税收组" class="form-control" />
                <span asp-validation-for="sys往来表.税收组" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="sys往来表.信用额" class="control-label"></label>
                <input asp-for="sys往来表.信用额" class="form-control" />
                <span asp-validation-for="sys往来表.信用额" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="sys往来表.登记日期" class="control-label"></label>
                <input asp-for="sys往来表.登记日期" class="form-control" />
                <span asp-validation-for="sys往来表.登记日期" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="sys往来表.RecordId" />
            <div class="form-group">
                <label asp-for="sys往来表.CreateUser" class="control-label"></label>
                <input asp-for="sys往来表.CreateUser" class="form-control" />
                <span asp-validation-for="sys往来表.CreateUser" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="sys往来表.CreateOrg" class="control-label"></label>
                <input asp-for="sys往来表.CreateOrg" class="form-control" />
                <span asp-validation-for="sys往来表.CreateOrg" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="sys往来表.CreateTime" class="control-label"></label>
                <input asp-for="sys往来表.CreateTime" class="form-control" />
                <span asp-validation-for="sys往来表.CreateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="sys往来表.EditingUser" class="control-label"></label>
                <input asp-for="sys往来表.EditingUser" class="form-control" />
                <span asp-validation-for="sys往来表.EditingUser" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="sys往来表.LastEditUser" class="control-label"></label>
                <input asp-for="sys往来表.LastEditUser" class="form-control" />
                <span asp-validation-for="sys往来表.LastEditUser" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="sys往来表.LastEditTime" class="control-label"></label>
                <input asp-for="sys往来表.LastEditTime" class="form-control" />
                <span asp-validation-for="sys往来表.LastEditTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="sys往来表.ReportStatus" class="control-label"></label>
                <input asp-for="sys往来表.ReportStatus" class="form-control" />
                <span asp-validation-for="sys往来表.ReportStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="sys往来表.LockStatus" class="control-label"></label>
                <input asp-for="sys往来表.LockStatus" class="form-control" />
                <span asp-validation-for="sys往来表.LockStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="sys往来表.WorkflowStatus" class="control-label"></label>
                <input asp-for="sys往来表.WorkflowStatus" class="form-control" />
                <span asp-validation-for="sys往来表.WorkflowStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
