@inherits BFieldComponentBase<TValue>
@typeparam TValue
@namespace Klazor
@using  Blazui.Component.EventArgs
@{
    switch (Status)
    {
        case CheckBoxStatus.UnChecked:
            _isChecked = string.Empty;
            _isIndeterminate = string.Empty;
            break;
        case CheckBoxStatus.Checked:
            _isChecked = "is-checked";
            _isIndeterminate = string.Empty;
            break;
        case CheckBoxStatus.Indeterminate:
            _isChecked = string.Empty;
            _isIndeterminate = "is-indeterminate";
            break;
    }
    <div class="">
        <input type="checkbox" @onchange="ChangeStatus" class="" value="" checked="@((Status == CheckBoxStatus.Checked)?true:false)" @onclick:stopPropagation="stopPropagationOnClick" />
        <span class="">
            @ChildContent
        </span>
    </div>
}