<div class="col-12 col-md-3 col-xl-2 bd-sidebar">
    <form class="bd-search d-flex align-items-center">
        <span class="algolia-autocomplete" style="position: relative; display: inline-block; direction: ltr;"><input type="search" class="form-control ds-input" id="search-input" placeholder="Search..." autocomplete="off" spellcheck="false" role="combobox" aria-autocomplete="list" aria-expanded="false" aria-owns="algolia-autocomplete-listbox-0" dir="auto" style="position: relative; vertical-align: top;"><pre aria-hidden="true" style="position: absolute; visibility: hidden; white-space: pre; font-family: -apple-system, BlinkMacSystemFont,'Microsoft YaHei'; font-size: 16px; font-style: normal; font-variant: normal; font-weight: 400; word-spacing: 0px; letter-spacing: normal; text-indent: 0px; text-rendering: auto; text-transform: none;"></pre><span class="ds-dropdown-menu" role="listbox" id="algolia-autocomplete-listbox-0" style="position: absolute; top: 100%; z-index: 100; display: none; left: 0px; right: auto;"><div class="ds-dataset-1"></div></span></span>
        <button class="btn btn-link bd-search-docs-toggle d-md-none p-0 ml-3" type="button" data-toggle="collapse" data-target="#bd-docs-nav" aria-controls="bd-docs-nav" aria-expanded="false" aria-label="Toggle docs navigation">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" width="30" height="30" focusable="false"><title>Menu</title><path stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"></path></svg>
        </button>
    </form>

    <nav class="collapse bd-links" id="bd-docs-nav">
        <div class="bd-toc-item">
            <a class="bd-toc-link" asp-page="/Index">PinhuaMaster</a>
        </div>
        <div class="bd-toc-item active">
            <a class="bd-toc-link" asp-page="/主数据/Index">基础数据</a>
            <ul class="nav bd-sidenav">
                <li><a asp-page="/主数据/字典/Index">字典</a></li>
                <li><a asp-page="/主数据/商品/Index">商品</a></li>
                <li><a asp-page="/主数据/客户/Index">客户</a></li>
                <li><a asp-page="/主数据/供应商/Index">供应商</a></li>
            </ul>
        </div>
        <div class="bd-toc-item active">
            <a class="bd-toc-link" asp-page="/销售/Index">销售</a>
            <ul class="nav bd-sidenav">
                <li><a asp-page="/销售/销售报价/Index">销售报价</a></li>
                <li><a asp-page="/销售/销售订单/Index">销售订单</a></li>
                <li><a asp-page="/销售/销售出库单/Index">销售出库单</a></li>
                @*<li><a asp-page="/销售/销售出库查询/Index">销售出库查询</a></li>*@
                <li><a asp-page="/销售/收款单/Index">收款单</a></li>
            </ul>
        </div>
        <div class="bd-toc-item active">
            <a class="bd-toc-link" asp-page="/采购/Index">采购</a>
            <ul class="nav bd-sidenav">
                <li><a asp-page="/采购/采购申请/Index">采购申请</a></li>
                <li><a asp-page="/采购/采购询价/Index">采购询价</a></li>
                <li><a asp-page="/采购/采购订单/Index">采购订单</a></li>
                <li><a asp-page="/采购/采购入库/Index">采购入库</a></li>
                @*<li><a asp-page="/采购/采购入库查询/Index">采购入库查询</a></li>*@
                <li><a asp-page="/采购/付款单/Index">付款单</a></li>
            </ul>
        </div>
        <div class="bd-toc-item active">
            <a class="bd-toc-link" asp-page="/仓库/Index">仓库</a>
            <ul class="nav bd-sidenav">
                <li><a asp-page="/仓库/其他出库/Index">其他出库</a></li>
                <li><a asp-page="/仓库/其他入库/Index">其他入库</a></li>
            </ul>
        </div>
        <div class="bd-toc-item active">
            <a class="bd-toc-link" asp-page="/生产/Index">生产</a>
            <ul class="nav bd-sidenav">
                <li><a asp-page="/生产/生产订单/Index">生产订单</a></li>
                <li><a asp-page="/生产/生产入库/Index">生产入库</a></li>
            </ul>
        </div>
        <div class="bd-toc-item active">
            <a class="bd-toc-link" asp-page="/生产/Index">查询</a>
            <ul class="nav bd-sidenav">
                <li><a asp-page="/查询/全部订单">全部订单</a></li>
                @*<li><a asp-page="/查询/订单收发">@(nameof(Pinhua2.Data.Pinhua2ViewsExtension.view_订单收发))</a></li>*@
                <li><a asp-page="/查询/全部订单收发">全部订单收发</a></li>
                @*<li><a asp-page="/查询/订单收付">@(nameof(Pinhua2.Data.Pinhua2ViewsExtension.view_订单收付))</a></li>*@
                <li><a asp-page="/查询/全部订单收付">全部订单收付</a></li>
                <li><a asp-page="/查询/库存">库存</a></li>
                <li><a asp-page="/查询/库批存">库批存</a></li>
                <li><a asp-page="/查询/最新报价">最新报价</a></li>
                <li><a asp-page="/查询/最新单价">最新单价</a></li>
            </ul>
        </div>
    </nav>

</div>