<div class="d-none d-xl-block col-xl-2 bd-toc">
    <ul class="section-nav">
        <li class="toc-entry toc-h2">
            <a href="#examples">Examples</a>
            <ul>
                <li class="toc-entry toc-h3"><a href="#link-color">Link color</a></li>
                <li class="toc-entry toc-h3">
                    <a href="#additional-content">Additional content</a>
                    <ul>
                        <li class="toc-entry toc-h4"><a href="#well-done">Well done!</a></li>
                    </ul>
                </li>
                <li class="toc-entry toc-h3"><a href="#dismissing">Dismissing</a></li>
            </ul>
        </li>
        <li class="toc-entry toc-h2">
            <a href="#javascript-behavior">JavaScript behavior</a>
            <ul>
                <li class="toc-entry toc-h3"><a href="#triggers">Triggers</a></li>
                <li class="toc-entry toc-h3"><a href="#methods">Methods</a></li>
                <li class="toc-entry toc-h3"><a href="#events">Events</a></li>
            </ul>
        </li>
    </ul>
</div>
