<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>layout 后台大布局 - Layui</title>
    <link rel="stylesheet" href="~/lib/layui/css/layui.css">
    <style>
        @@media screen and (max-width: 750px) {
            .layui-layout-admin .layui-side {
                position: fixed;
                top: 0;
                left: -260px;
                transition: all .3s;
                -webkit-transition: all .3s;
                z-index: 10000;
            }
        }

        @@media screen and (max-width: 750px) {
            .layui-main {
                width: auto;
                margin: 0 10px;
            }

            .layui-layout-admin .layui-side {
                position: fixed;
                top: 0;
                left: -260px;
                transition: all .3s;
                -webkit-transition: all .3s;
                z-index: 10000;
            }

            .layui-body {
                position: static;
                bottom: 0;
                left: 0;
            }

            .site-tree-mobile {
                display: block !important;
                position: fixed;
                z-index: 100000;
                bottom: 15px;
                left: 15px;
                width: 50px;
                height: 50px;
                line-height: 50px;
                border-radius: 2px;
                text-align: center;
                background-color: rgba(0,0,0,.7);
                color: #fff;
            }

            .site-mobile .layui-side {
                left: 0;
            }

            .site-mobile .layui-side-child {
                top: 50%;
                left: 200px;
                height: 300px;
                margin-top: -100px;
            }

            .site-mobile .site-tree-mobile {
                display: none !important;
            }

            .site-mobile .site-tree {
                left: 0;
            }

            .site-mobile .site-mobile-shade {
                content: '';
                position: fixed;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                background-color: rgba(0,0,0,.8);
                z-index: 999;
            }

            .site-tree-mobile i {
                font-size: 20px;
            }

            .layui-code-view {
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
            }

            .layui-layout-admin .layui-side {
                position: fixed;
                top: 0;
                left: -260px;
                transition: all .3s;
                -webkit-transition: all .3s;
                z-index: 10000;
            }

            .layui-body {
                position: static;
                bottom: 0;
                left: 0;
            }

            .site-mobile .layui-side {
                left: 0;
            }

            .site-mobile .layui-side-child {
                top: 50%;
                left: 200px;
                height: 300px;
                margin-top: -100px;
            }

            .layui-footer {
                left: 0 !important
            }
        }
    </style>
</head>
<body class="layui-layout-body">
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header" style="position:sticky">
            <div class="layui-logo">layui 后台布局</div>
            <!-- 头部区域（可配合layui已有的水平导航） -->
            <ul class="layui-nav layui-layout-right">
                <li class="layui-nav-item">
                    <a href="javascript:;">
                        <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                        贤心
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a href="">基本资料</a></dd>
                        <dd><a href="">安全设置</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item"><a href="">退了</a></li>
            </ul>
        </div>

        <div class="layui-side layui-bg-black">
            <div class="layui-side-scroll">
                <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
                <ul class="layui-nav layui-nav-tree" lay-filter="test">
                    <li class="layui-nav-item layui-nav-itemed">
                        <a href="javascript:;">基础数据</a>
                        <dl class="layui-nav-child">
                            <dd><a asp-page="/主数据/字典/Index">字典</a></dd>
                            <dd><a asp-page="/主数据/商品/Index">商品</a></dd>
                            <dd><a asp-page="/主数据/客户/Index">客户</a></dd>
                            <dd><a asp-page="/主数据/供应商/Index">供应商</a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item layui-nav-itemed">
                        <a href="javascript:;">销售</a>
                        <dl class="layui-nav-child">
                            <dd><a asp-page="/销售/销售报价/Index">销售报价</a></dd>
                            <dd><a asp-page="/销售/销售订单/Index">销售订单</a></dd>
                            <dd><a asp-page="/销售/销售出库单/Index">销售出库单</a></dd>
                            <dd><a asp-page="/销售/收款单/Index">收款单</a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item layui-nav-itemed">
                        <a href="javascript:;">采购</a>
                        <dl class="layui-nav-child">
                            <dd><a asp-page="/采购/采购申请/Index">采购申请</a></dd>
                            <dd><a asp-page="/采购/采购询价/Index">采购询价</a></dd>
                            <dd><a asp-page="/采购/采购订单/Index">采购订单</a></dd>
                            <dd><a asp-page="/采购/采购入库/Index">采购入库</a></dd>
                            <dd><a asp-page="/采购/付款单/Index">付款单</a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item layui-nav-itemed">
                        <a href="javascript:;">仓库</a>
                        <dl class="layui-nav-child">
                            <dd><a asp-page="/仓库/其他出库/Index">其他出库</a></dd>
                            <dd><a asp-page="/仓库/其他入库/Index">其他入库</a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item layui-nav-itemed">
                        <a href="javascript:;">生产</a>
                        <dl class="layui-nav-child">
                            <dd><a asp-page="/生产/生产订单/Index">生产订单</a></dd>
                            <dd><a asp-page="/生产/生产入库/Index">生产入库</a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item layui-nav-itemed">
                        <a href="javascript:;">查询</a>
                        <dl class="layui-nav-child">
                            <dd><a asp-page="/查询/全部订单">全部订单</a></dd>
                            <dd><a asp-page="/查询/全部订单收发">全部订单收发</a></dd>
                            <dd><a asp-page="/查询/全部订单收付">全部订单收付</a></dd>
                            <dd><a asp-page="/查询/库存">库存</a></dd>
                            <dd><a asp-page="/查询/库批存">库批存</a></dd>
                            <dd><a asp-page="/查询/最新报价">最新报价</a></dd>
                            <dd><a asp-page="/查询/最新单价">最新单价</a></dd>
                        </dl>
                    </li>
                </ul>
            </div>
        </div>

        <div class="layui-body">
            <!-- 内容主体区域 -->
            <div style="padding: 15px;">
                @RenderBody()
            </div>
        </div>

        <div class="layui-footer" style="height:auto">
            <div class="layui-main">
                <p>© 2019 <a href="/">pinhuadashi.com</a> MIT license</p>
            </div>
        </div>

        <div class="site-tree-mobile layui-hide">
            <i class="layui-icon"></i>
        </div>

        <div class="site-mobile-shade"></div>
    </div>
    <script src="~/lib/layui/layui.all.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script>
        //JavaScript代码区域
        layui.use(['element', 'code'], function () {
            var element = layui.element;
            layui.code()

        });

        //手机设备的简单适配
        var treeMobile = $('.site-tree-mobile')
            , shadeMobile = $('.site-mobile-shade')

        treeMobile.on('click', function () {
            $('body').addClass('site-mobile');
        });

        shadeMobile.on('click', function () {
            $('body').removeClass('site-mobile');
        });
    </script>
</body>
</html>
