@namespace Piuhua2.Components.Modal

<KModal IsFade="false" IsBackdrop="false" IsCentered="false" Size="Size.ExtraLarge" @ref="modal">
    <KModalHeader>修改</KModalHeader>
    <KModalBody>
        <div class="row">
            <div class="col-md-12">
                @foreach (var model in MyAnnotations.Parse(Datasource)?.Where(m => !m.Field.IsSystemField))
                {
                    <div class="form-group row @(model.Field.IsHiddenField?"d-none":"")">
                        <label for="@model.Field.Name" class="col-3 col-form-label text-right">@model.Field.ProcessedName</label>
                        <div class="col-9 col-md-9 col-lg-9">
                            <KInput Model="model"></KInput>
                        </div>
                    </div>
                }
            </div>
        </div>
    </KModalBody>
    <KModalFooter></KModalFooter>
</KModal>