@page
@model Pinhua2.Web.Pages.主数据.IndexModel
@{
    ViewData["Title"] = "Index";
}

<ul class="nav justify-content-center">
    <li class="nav-item">
        <a class="btn btn-dark" asp-area="" asp-page="/主数据/字典/Index">字典</a>
        <a class="btn btn-danger" asp-area="" asp-page="/主数据/商品/Index">商品</a>
        <a class="btn btn-warning" asp-area="" asp-page="/主数据/客户/Index">客户</a>
        <a class="btn btn-success" asp-area="" asp-page="/主数据/供应商/Index">供应商</a>
    </li>
</ul>