@page
@model IndexModel
@using Pinhua2.Data.Models
@{
    ViewData["Title"] = "Home page";
    var x = (int)AutoCodeDateType.yyMMdd;
    var y = Enum.ToObject(typeof(AutoCodeDateType), 8);
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
@x @y