@page
@model Pinhua2.Web.Pages.查询.库存Model
@{
    ViewData["Title"] = "库存";
}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center mb-3 mt-3">
    <h3>库存</h3>
</div>
<div class="table-responsive">
    <table class="table table-bordered text-nowrap">
        <thead>
            <tr>
                @foreach (var cdm in CustomDisplayFactory.CustomDisplayModels(typeof(view_Lq)).Where(m => m.ForIndex))
                {
                    <th>@cdm.Name</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var item in pinhua2.view_库存())
            {
                <tr>
                    @foreach (var cdm in CustomDisplayFactory<view_Lq>.CustomDisplayModels(item).Where(m => m.ForIndex))
                    {
                        <td>@cdm.Value </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>
