@page
@model Pinhua2.Web.Pages.查询.最新报价Model
@{
    ViewData["Title"] = "最新报价";
}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center mb-3 mt-3">
    <h3>最新报价</h3>
</div>
<div class="table-responsive">
    <table class="table table-bordered text-nowrap">
        <thead>
            <tr>
                @foreach (var cdm in CustomDisplayFactory.CustomDisplayModels(typeof(view_LastQue)).Where(m => m.ForIndex))
                {
                    if (cdm.ForIndex)
                    {
                        <th>@cdm.Name</th>
                    }
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var item in pinhua2.view_最新报价())
            {
                <tr>
                    @foreach (var cdm in CustomDisplayFactory<view_LastQue>.CustomDisplayModels(item).Where(m => m.ForIndex))
                    {
                        <td>@cdm.Value</td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>
