@page
@model Pinhua2.Web.Pages.查询.订单收发Model
@{
    ViewData["Title"] = "订单收发";
}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center mb-3 mt-3">
    <h3>订单收发</h3>
</div>
<div class="table-responsive">
    <table class="table table-bordered text-nowrap">
        <thead>
            <tr>
                @foreach (var cdm in CustomDisplayFactory.CustomDisplayModels(typeof(view_OrderIO)).Where(m => m.ForIndex))
                {
                    <th>
                        @cdm.Name
                    </th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var item in pinhua2.view_订单收发())
            {
                <tr>
                    @foreach (var cdm in CustomDisplayFactory<view_OrderIO>.CustomDisplayModels(item).Where(m => m.ForIndex))
                    {
                        <td>@cdm.Value</td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>
