@page "{companyId?}/{refOrderId?}/{type?}"
@model Pinhua2.Web.Pages.销售.收款单.CreateModel

@{
    ViewData["Title"] = "Create";

    var templateMain = new _CRUD_Template_Model_Main
    {
        Title = "收款单",
        Data = Model.vm_Main,
    };
    var templateDetails = new _CRUD_Template_Model_Details
    {
        Title = "明细",
        Data = Model.vm_Details.Cast<object>(),
    };
    var templateSelectModal = new _CRUD_Template_Model_SelectModal
    {
        Title = "订单商品列表",
        Url = $"/API/销售/金额待收/{Model.vm_Main.往来号}",
        DataType = typeof(view_AllOrdersPay)
    };

    Model.templateModel = MyTemplateCRUD.Create()
        .SetMain(templateMain)
        .AddDetails(templateDetails)
        .SetSelectModal(templateSelectModal)
        .GetModel();

    var jsonEmptyDetail = JsonConvert.SerializeObject(new vm_收款单D());
    var jsonCurrentDetails = JsonConvert.SerializeObject(Model?.vm_Details ?? new List<vm_收款单D>());
}

<partial name="_CRUD_Template/_Create" model="Model.templateModel" />

<div>
    <a asp-page="Index">返回列表</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        var emptyDetail = @Html.Raw(jsonEmptyDetail);
        var currentDetails = @Html.Raw(jsonCurrentDetails);
    </script>

    <partial name="_CRUD_Template/__vue" model="Model" />
}