@page
@model Pinhua2.Web.Pages.销售.收款单.Create2Model

@{
    ViewData["Title"] = "Create";

    var templateMain = new _CRUD_Template_Model_Main()
        .SetTitle("收款单")
        .SetData(Model.vm_Main);

    var templateDetails = new _CRUD_Template_Model_Details()
        .SetTitle("明细")
        .SetData(Model?.vm_Details);

    var templateEditModal = new _CRUD_Template_Model_EditModal()
        .SetTitle("编辑")
        .SetDataType(typeof(vm_收款单D));

    Model.templateModel = MyTemplateCRUD.Create()
    .SetMain(templateMain)
    .AddDetails(templateDetails)
    .SetEditModal(templateEditModal)
    .GetModel();

    var jsonEmptyDetail = JsonConvert.SerializeObject(new vm_收款单D());
    var jsonCurrentDetails = JsonConvert.SerializeObject(Model?.vm_Details ?? new List<vm_收款单D>());

    var records = pinhua2.tb_收付表D.ToList();
    var ddd = mapper.Map<IList<tb_收付表D>, IList<vm_收款单D>>(records);
}

@{
    var main = CustomDisplayFactory.CustomDisplayModels(Model.templateModel.RecordMain.Data).OrderBy(m => m.Priority);
    var hasPriority = main.Select(p => p.Priority).Distinct();
    var hasPriorityCount = hasPriority.Count();
    var detailsArray = Model.templateModel.RecordDetailsArray ?? new List<_CRUD_Template_Model_Details>();
}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center mb-3 mt-3">
    <h3>新增 - @Html.Raw(Model.templateModel.RecordMain.Title)</h3>
</div>
<div class="row" id="vueScope">
    <div class="col-12">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="row">
                @{
                    if (hasPriorityCount == 1)
                    { <!-- hasPriorityCount == 1 -->
                        <div class="col-md-12 col-lg-6">
                            @foreach (var cdm in main)
                            {
                                <partial name="_CRUD_Template/__form_control_vue" model="cdm" />
                            }
                        </div>
                    }
                    else if (hasPriorityCount == 2)
                    { <!-- hasPriorityCount == 2 -->
                        <div class="col-md-6">
                            @foreach (var cdm in main.Where(p => p.Priority == hasPriority.ElementAt(0)))
                            {
                                <partial name="_CRUD_Template/__form_control_vue" model="cdm" />
                            }
                        </div>
                        <div class="col-md-6 d-none d-md-block">
                            @foreach (var cdm in main.Where(p => p.Priority == hasPriority.ElementAt(1)))
                            {
                                <partial name="_CRUD_Template/__form_control_vue" model="cdm" />
                            }
                        </div>
                    }
                    else if (hasPriorityCount == 3)
                    { <!-- hasPriorityCount == 3 -->
                        <div class="col-md-4">
                            @foreach (var cdm in main.Where(p => p.Priority == hasPriority.ElementAt(0)))
                            {
                                <partial name="_CRUD_Template/__form_control_vue" model="cdm" />
                            }
                        </div>
                        <div class="col-md-4">
                            @foreach (var cdm in main.Where(p => p.Priority == hasPriority.ElementAt(1)))
                            {
                                <partial name="_CRUD_Template/__form_control_vue" model="cdm" />
                            }
                        </div>
                        <div class="col-md-4 d-none d-md-block">
                            @foreach (var cdm in main.Where(p => p.Priority == hasPriority.ElementAt(2)))
                            {
                                <partial name="_CRUD_Template/__form_control_vue" model="cdm" />
                            }
                        </div>
                    }

                }
            </div>

            <component type="typeof(Content<vm_收款单D>)" param-Items="ddd" render-mode="ServerPrerendered" />

            <div class="form-group">
                <input type="submit" value="提交" class="btn btn-primary" />
            </div>

        </form>
    </div>
</div>

<div>
    <a asp-page="Index">返回列表</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        var emptyDetail = @Html.Raw(jsonEmptyDetail);
        var currentDetails = @Html.Raw(jsonCurrentDetails);
    </script>
    <script>
        $(function () {
            $("#vueScope form").on('submit', function () {
                $('#vueScope select').removeAttr('disabled')
            })
        })

    </script>

    
}