@page
@model Pinhua2.Web.Pages.销售.收款单.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center mb-3 mt-3">
    <h3>删除 - 收款单</h3>
</div>

<div class="row" id="vueScope">
    <div class="col-12">
        @foreach (var cdm in CustomDisplayFactory<vm_收款单>.CustomDisplayModels(Model.Record))
        {
            if (cdm.ForDelete)
            {
                <div class="form-group row">
                    <label for="" class="col-4 col-sm-2 col-form-label">@cdm.Name</label>
                    <div class="col-8 col-sm-10">
                        <input value="@cdm.Value" class="form-control" readonly />
                    </div>
                </div>
            }
        }
    </div>
</div>

<form method="post">
    <input type="hidden" asp-for="Record.RecordId" />
    <input type="submit" value="删除" class="btn btn-danger" /> |
    <a asp-page="./Index">返回列表</a>
</form>
