@page
@model Pinhua2.Web.Pages.销售.收款单.DetailsModel

@{
    ViewData["Title"] = "Details";

    var templateMain = new _CRUD_Template_Model_Main
    {
        Title = "收款单",
        Data = Model.vm_Main,
    };
    var templateDetails = new _CRUD_Template_Model_Details
    {
        Title = "明细",
        Data = Model.vm_Details.Cast<object>(),
    };

    Model.templateModel = new _CRUD_Template_Model();
    Model.templateModel.RecordMain = templateMain;
    Model.templateModel.RecordDetailsArray.Add(templateDetails);
}

<partial name="_CRUD_Template/_Details" model="Model.templateModel" />

<div>
    <a asp-page="./Edit" asp-route-id="@Model.vm_Main.RecordId">修改</a> |
    <a asp-page="Index">返回列表</a>
</div>