@page
@model Pinhua2.Web.Pages.销售.销售报价.DeleteModel
@using Pinhua2.Common.Attributes

@{
    ViewData["Title"] = "Delete";

    var templateModel = new _CRUD_Template_Model
    {
        RecordMain = new _CRUD_Template_Model_Main
        {
            Title = "销售报价",
            Data = Model.vm_销售报价,
        },
        RecordDetailsArray = new List<_CRUD_Template_Model_Details>
{
            new _CRUD_Template_Model_Details
            {
                Title="明细",
                Data = Model.vm_销售报价D列表.Cast<object>(),
            },
        }
    };
}

<partial name="_CRUD_Template/_Delete" model="templateModel" />

<form method="post">
    <input type="hidden" asp-for="vm_销售报价.RecordId" />
    <input type="submit" value="删除" class="btn btn-danger" /> |
    <a asp-page="./Index">返回列表</a>
</form>
