@page
@model Pinhua2.Web.Pages.销售.销售报价.DetailsModel
@using Pinhua2.Common.Attributes

@{
    ViewData["Title"] = "Details";
}

    <nav class="navbar navbar-expand navbar-light" style="background-color: #e3f2fd;">
        <a class="navbar-brand" href="#">操作</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link text-primary"
                       asp-page="/销售/销售订单/Create"
                       asp-route-companyId="@(Model.vm_销售报价.往来号)"
                       asp-route-refOrderId="@(Model.vm_销售报价.单号)">生成销售订单</a>
                </li>
            </ul>
            @*<span class="navbar-text">
                Navbar text with an inline element
            </span>*@
        </div>
    </nav>

<partial name="_CRUD_Template/_Details" model="Model.templateModel" />

<div>
    <a asp-page="./Edit" asp-route-id="@Model.vm_销售报价.RecordId">修改</a> |
    <a asp-page="Index">返回列表</a>
</div>