@page
@model Pinhua2.Web.Pages.销售.销售报价.EditModel

@{
    ViewData["Title"] = "Edit";
    var emptyRecord = JsonConvert.SerializeObject(new vm_销售报价D());
    var emptyRecordList = JsonConvert.SerializeObject(Model?.vm_Details ?? new List<vm_销售报价D>());
}

<partial name="_CRUD_Template/_Edit" model="Model.templateModel" />

<div>
    <a asp-page="Index">返回列表</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $(function () {
            $customerIdInput = $('select[name="vm_Main.往来号"]')
            $customerNameInput = $('input[name="vm_Main.往来"]')

        })
    </script>
    <script>
        var emptyRecord = @Html.Raw(emptyRecord);
        var emptyRecordList = @Html.Raw(emptyRecordList);
    </script>
    <partial name="_vue" />
}
