@page
@model Pinhua2.Web.Pages.销售.销售报价.EditModel

@{
    ViewData["Title"] = "Edit";

    var templateMain = new _CRUD_Template_Model_Main
    {
        Title = "销售报价",
        Data = Model.vm_Main,
    };
    var templateDetails = new _CRUD_Template_Model_Details
    {
        Title = "明细",
        Data = Model.vm_Details.Cast<object>(),
    };

    Model.templateModel = new _CRUD_Template_Model();
    Model.templateModel.RecordMain = templateMain;
    Model.templateModel.RecordDetailsArray.Add(templateDetails);

    var jsonEmptyMain = JsonConvert.SerializeObject(new vm_销售报价D());
    var jsonEmptyDetails = JsonConvert.SerializeObject((Model?.vm_Details ?? new List<vm_销售报价D>()).OrderBy(m => m.RN));
}

<partial name="_CRUD_Template/_Edit" model="Model.templateModel" />

<div>
    <a asp-page="Index">返回列表</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $(function () {
            $customerIdInput = $('select[name="vm_Main.往来号"]')
            $customerNameInput = $('input[name="vm_Main.往来"]')

        })
    </script>
    <script>
        var emptyMain = @Html.Raw(jsonEmptyMain);
        var emptyDetails = @Html.Raw(jsonEmptyDetails);
    </script>
    <partial name="_vue" />
}
