@model _CRUD_Template_Model

<div class="modal" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">@Html.Raw(Model.EditModal.Title)</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                @foreach (var cdm in CustomDisplayFactory.CustomDisplayModels(Model.EditModal.DataType))
                {
                    if (cdm.RawName == "RN")
                    {
                        var vBindValue = new TagHelpers.MyVBindModel
                        {
                            Attr = "value",
                            Method = "editModalRN"
                        };

                        <div class="form-group row">
                            <label class="col-4 col-sm-3 col-form-label">RN</label>
                            <div class="col-8 col-sm-9">
                                <input class="form-control" 
                                       my-use-vue="cdm" my-v-bind-force="vBindValue" 
                                       my-model-readonly="cdm" />
                            </div>
                        </div>
                    }
                    else
                    {
                        var vModel = new TagHelpers.MyVModelModel
                        {
                            Prefix = "itemCurrent",
                            Name = cdm.RawName
                        };

                        <div class="form-group row" my-model-hidden="cdm" hidden-type="Ref">
                            <label class="col-4 col-sm-3 col-form-label">@Html.Raw(cdm.RawName)</label>
                            <div class="col-8 col-sm-9">
                                <input class="form-control" 
                                       my-use-vue="cdm" my-v-model-force="vModel" 
                                       my-model-readonly="cdm" />
                            </div>
                        </div>
                    }


                }
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" v-on:click="saveRecord">确认</button>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Script(@<text>
    <script>

    </script>
</text>)