@namespace Klazor

<div @attributes="UnknownParameters" class="@Classname">
    @if (ChildContent == default)
    {
        <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-primary" @onclick="OK">确定</button>
    }
    else
    {
        @ChildContent
    }
</div>