@namespace Piuhua2.Components.PageTemplate

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center mb-3">
    <h3>@Title</h3>
    @if (HasTopRightButton)
    {
        <KButton ButtonType="ButtonType.Button" Color="TopRightButtonColor" OnClick="TopRightButtonOnClick">
            <i class="oi oi-pencil"></i> @TopRightButtonTitle
        </KButton>
    }
    else
    {
        @TopRightContent
    }
</div>

@ChildContent

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center mb-3">
    <div>
        @if (HasBottomLeftButton)
        {
            <KButton ButtonType="ButtonType.Button" Color="BottomLeftButtonColor" OnClick="BottomLeftButtonOnClick">
                <i class="oi oi-arrow-thick-left"></i> @BottomLeftButtonTitle
            </KButton>
        }
        else
        {
            @BottomLeftContent
        }
    </div>
    <div>
        @if (HasBottomRightButton)
        {
            if (BottomRightButtonSubmit)
            {
                <KButton ButtonType="ButtonType.Submit" Color="BottomRightButtonColor" OnClick="BottomRightButtonOnClick">
                    <i class="oi oi-check"></i> @BottomRightButtonTitle
                </KButton>
            }
            else
            {
                <KButton ButtonType="ButtonType.Button" Color="BottomRightButtonColor" OnClick="BottomRightButtonOnClick">
                    <i class="oi oi-check"></i> @BottomRightButtonTitle
                </KButton>
            }
        }
        else
        {
            @BottomRightContent
        }

    </div>
</div>

