@namespace Piuhua2.Components.PageTemplate

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center mb-3">
    <h3>@Title</h3>
    @if (CreateButtonOnClick.HasDelegate)
    {
        <div>
            <button type="button" class="btn btn-primary" @onclick="@CreateButtonOnClick"><i class="oi oi-pencil"></i> @CreateButtonTitle</button>
        </div>
    }
</div>

@ChildContent
