@namespace Klazor

<CascadingValue Value="this">
    <!-- Modal -->
    <div class="@Classname" id="@Id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" @attributes="UnknownParameters" @ref="Me">
        <div class="@InnerClassname" role="document">
            <div class="modal-content">
                @ChildContent
            </div>
        </div>
    </div>
</CascadingValue>