@page
@model Pinhua2.Web.Pages.销售.销售订单.EditModel

@{
    ViewData["Title"] = "Edit";

    var templateMain = new _CRUD_Template_Model_Main
    {
        Title = "销售订单",
        Data = Model.vm_Main,
    };
    var templateDetails = new _CRUD_Template_Model_Details
    {
        Title = "明细",
        Data = Model.vm_Details.Cast<object>(),
    };

    Model.templateModel = new _CRUD_Template_Model();
    Model.templateModel.RecordMain = templateMain;
    Model.templateModel.RecordDetailsArray.Add(templateDetails);

    var jsonEmptyDetail = JsonConvert.SerializeObject(new vm_销售订单D());
    var jsonCurrentDetails = JsonConvert.SerializeObject(Model?.vm_Details ?? new List<vm_销售订单D>());
}

    <partial name="_CRUD_Template/_Edit" model="Model.templateModel" />

<div>
    <a asp-page="Index">返回列表</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    @{
        var customerId = Model.vm_Main.往来号;
    }
    <script>
        $(function () {
            $table2 = $('#selectTable2')
            $table2.bootstrapTable({
                url: '/api/product/报价/@(customerId)',
                onLoadSuccess: function (data) {
                    console.log(data)
                    // 恢复所有隐藏行
                    $table2.bootstrapTable('getHiddenRows', true)
                    // 比对数据
                    vm.items.forEach(function (v) {
                        for (var i in data) {
                            // 已经添加的数据，从selectTable2中隐藏
                            if (v.子单号 == data[i].子单号) {
                                $table2.bootstrapTable('hideRow', { index: i })
                            }
                        }
                    })
                },
            })
        })
    </script>

    <script>
        var emptyDetail = @Html.Raw(jsonEmptyDetail);
        var currentDetails = @Html.Raw(jsonCurrentDetails);
    </script>

    <partial name="_CRUD_Template/__vue" model="Model" />
}
