@page
@model Pinhua2.Web.Pages.主数据.商品.CreateModel
@using Newtonsoft.Json
@using Pinhua2.Web.Mapper

@{
    ViewData["Title"] = "Create";
    var product = JsonConvert.SerializeObject(new vm_商品_地板());
}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center mb-3 mt-3">
    <h3>新增 - 商品</h3>
</div>
<div class="row" id="vueScope">
    <div class="col-12">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group row">
                <label asp-for="vm_地板.品号" class="col-4 col-sm-2 col-form-label"></label>
                <div class="col-8 col-sm-10">
                    <input asp-for="vm_地板.品号" class="form-control" placeholder="自动生成 ..." readonly />
                    <span asp-validation-for="vm_地板.品号" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="vm_地板.品名" class="col-4 col-sm-2 col-form-label"></label>
                <div class="col-8 col-sm-10">
                    <input asp-for="vm_地板.品名" class="form-control" />
                    <span asp-validation-for="vm_地板.品名" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="vm_地板.型号" class="col-4 col-sm-2 col-form-label"></label>
                <div class="col-8 col-sm-10">
                    <input asp-for="vm_地板.型号" class="form-control" />
                    <span asp-validation-for="vm_地板.型号" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="vm_地板.别名" class="col-4 col-sm-2 col-form-label"></label>
                <div class="col-8 col-sm-10">
                    <input asp-for="vm_地板.别名" class="form-control" />
                    <span asp-validation-for="vm_地板.别名" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="vm_地板.规格" class="col-4 col-sm-2 col-form-label"></label>
                <div class="col-8 col-sm-10">
                    <input asp-for="vm_地板.规格" class="form-control" v-bind:value="guige" readonly />
                    <span asp-validation-for="vm_地板.规格" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="vm_地板.长度" class="col-4 col-sm-2 col-form-label"></label>
                <div class="col-8 col-sm-10">
                    <div class="input-group">
                        <input asp-for="vm_地板.长度" class="form-control" v-model="product.长度" />
                        <span asp-validation-for="vm_地板.长度" class="text-danger"></span>
                        <div class="input-group-append">
                            <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" style="width:40px" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="javascript:;" v-on:click="putLengthOnClick">450</a>
                                <a class="dropdown-item" href="javascript:;" v-on:click="putLengthOnClick">600</a>
                                <a class="dropdown-item" href="javascript:;" v-on:click="putLengthOnClick">500</a>
                                <a class="dropdown-item" href="javascript:;" v-on:click="putLengthOnClick">400</a>
                                <a class="dropdown-item" href="javascript:;" v-on:click="putLengthOnClick">300</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="vm_地板.宽度" class="col-4 col-sm-2 col-form-label"></label>
                <div class="col-8 col-sm-10">
                    <div class="input-group">
                        <input asp-for="vm_地板.宽度" class="form-control" v-model="product.宽度" />
                        <span asp-validation-for="vm_地板.宽度" class="text-danger"></span>
                        <div class="input-group-append">
                            <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" style="width:40px" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="javascript:;" v-on:click="putWidthOnClick">450</a>
                                <a class="dropdown-item" href="javascript:;" v-on:click="putWidthOnClick">600</a>
                                <a class="dropdown-item" href="javascript:;" v-on:click="putWidthOnClick">500</a>
                                <a class="dropdown-item" href="javascript:;" v-on:click="putWidthOnClick">400</a>
                                <a class="dropdown-item" href="javascript:;" v-on:click="putWidthOnClick">300</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="vm_地板.高度" class="col-4 col-sm-2 col-form-label"></label>
                <div class="col-8 col-sm-10">
                    <div class="input-group">
                        <input asp-for="vm_地板.高度" class="form-control" v-model="product.高度" />
                        <span asp-validation-for="vm_地板.高度" class="text-danger"></span>
                        <div class="input-group-append">
                            <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" style="width:40px" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="javascript:;" v-on:click="putHeightOnClick">15</a>
                                <a class="dropdown-item" href="javascript:;" v-on:click="putHeightOnClick">18</a>
                                <a class="dropdown-item" href="javascript:;" v-on:click="putHeightOnClick">12</a>
                                <a class="dropdown-item" href="javascript:;" v-on:click="putHeightOnClick">20</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="vm_地板.面厚" class="col-4 col-sm-2 col-form-label"></label>
                <div class="col-8 col-sm-10">
                    <div class="input-group">
                        <input asp-for="vm_地板.面厚" class="form-control" v-model="product.面厚" />
                        <span asp-validation-for="vm_地板.面厚" class="text-danger"></span>
                        <div class="input-group-append">
                            <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" style="width:40px" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="javascript:;" v-on:click="putCoverHeightOnClick">1.2</a>
                                <a class="dropdown-item" href="javascript:;" v-on:click="putCoverHeightOnClick">2.0</a>
                                <a class="dropdown-item" href="javascript:;" v-on:click="putCoverHeightOnClick">3.0</a>
                                <a class="dropdown-item" href="javascript:;" v-on:click="putCoverHeightOnClick">4.0</a>
                                <a class="dropdown-item" href="javascript:;" v-on:click="putCoverHeightOnClick">0.6</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="vm_地板.分类1" class="col-4 col-sm-2 col-form-label"></label>
                <div class="col-8 col-sm-10">
                    <div class="input-group">
                        <input asp-for="vm_地板.分类1" class="form-control" v-model="product.分类1" />
                        <span asp-validation-for="vm_地板.分类1" class="text-danger"></span>
                        <div class="input-group-append">
                            <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" style="width:40px" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="javascript:;" v-on:click="putClassify1">地板类</a>
                                <a class="dropdown-item" href="javascript:;" v-on:click="putClassify1">辅料类</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="vm_地板.分类2" class="col-4 col-sm-2 col-form-label"></label>
                <div class="col-8 col-sm-10">
                    <div class="input-group">
                        <input asp-for="vm_地板.分类2" class="form-control" v-model="product.分类2" />
                        <span asp-validation-for="vm_地板.分类2" class="text-danger"></span>
                        <div class="input-group-append">
                            <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" style="width:40px" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="javascript:;" v-on:click="putClassify2">地板类</a>
                                <a class="dropdown-item" href="javascript:;" v-on:click="putClassify2">辅料类</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="vm_地板.备注" class="col-4 col-sm-2 col-form-label"></label>
                <div class="col-8 col-sm-10">
                    <input asp-for="vm_地板.备注" class="form-control" />
                    <span asp-validation-for="vm_地板.备注" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="vm_地板.条码" class="col-4 col-sm-2 col-form-label"></label>
                <div class="col-8 col-sm-10">
                    <input asp-for="vm_地板.条码" class="form-control" />
                    <span asp-validation-for="vm_地板.条码" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="vm_地板.图片" class="col-4 col-sm-2 col-form-label"></label>
                <div class="col-8 col-sm-10">
                    <input asp-for="vm_地板.图片" class="form-control" />
                    <span asp-validation-for="vm_地板.图片" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="提交" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">返回列表</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        var product = @Html.Raw(product);
    </script>
    <script>
        var vm = new Vue({
            el: '#vueScope',
            data: {
                product: product,
            },
            computed: {
                guige: function () {
                    var str = ""
                    if (!this.product.长度 || !this.product.宽度 || !this.product.高度)
                        return str
                    else {
                        str = [this.product.长度, this.product.宽度, this.product.高度].join("*")
                        if (this.product.面厚) {
                            str = [str, this.product.面厚].join("/")
                        }
                    }
                    return str
                }

            },
            methods: {
                putLengthOnClick: function (event) {
                    this.product.长度 = event.target.innerText;
                },
                putWidthOnClick: function (event) {
                    this.product.宽度 = event.target.innerText;
                },
                putHeightOnClick: function (event) {
                    this.product.高度 = event.target.innerText;
                },
                putCoverHeightOnClick: function (event) {
                    this.product.面厚 = event.target.innerText;
                },
                putClassify1: function (event) {
                    this.product.分类1 = event.target.innerText;
                },
                putClassify2: function (event) {
                    this.product.分类2 = event.target.innerText;
                },
            }
        })
    </script>

}
