@page
@model Pinhua2.Web.Pages.主数据.商品.DetailsModel
@using Newtonsoft.Json
@using Pinhua2.Web.Mapper
@using Pinhua2.Common.Attributes
@{
    ViewData["Title"] = "Details";

    var templateModel = new _CRUD_Template_Model
    {
        RecordMain = new _CRUD_Template_Model_Main
        {
            Title = "商品",
            Data = Model.vm_地板,
        },
        
    };
}

<partial name="_CRUD_Template/_Details" model="templateModel" />

<div>
    <a asp-page="./Edit" asp-route-id="@Model.vm_地板.RecordId">修改</a> |
    <a asp-page="Index">返回列表</a>
</div>

