@page "{companyId?}/{refOrderId?}/{type?}"
@model Pinhua2.Web.Pages.销售.收款单.Bak.CreateModel

@{
    ViewData["Title"] = "Create";
}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center mb-3 mt-3">
    <h3>新增 - 收款单</h3>
</div>
<div class="row" id="vueScope2" v-cloak>
    <div class="col-12">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group row">
                <label asp-for="Record.单号" class="col-4 col-sm-2 col-form-label"></label>
                <div class="col-8 col-sm-10">
                    <div class="input-group">
                        <input asp-for="Record.单号" class="form-control" placeholder="自动生成 ..." readonly />
                    </div>
                    <span asp-validation-for="Record.单号" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Record.往来号" class="col-4 col-sm-2 col-form-label"></label>
                <div class="col-8 col-sm-10">
                    <select class="form-control" asp-for="Record.往来号" asp-items="Model.CustomerSelectList" v-model="record.往来号" v-on:change="customerIdOnChange"></select>
                    <span asp-validation-for="Record.往来号" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Record.类型" class="col-4 col-sm-2 col-form-label"></label>
                <div class="col-8 col-sm-10">
                    <input asp-for="Record.类型" class="form-control" readonly type="text" />
                    <span asp-validation-for="Record.类型" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Record.小类" class="col-4 col-sm-2 col-form-label"></label>
                <div class="col-8 col-sm-10">
                    <input asp-for="Record.小类" class="form-control" readonly type="text" />
                    <span asp-validation-for="Record.小类" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Record.关联单号" class="col-4 col-sm-2 col-form-label"></label>
                <div class="col-8 col-sm-10">
                    <input asp-for="Record.关联单号" class="form-control" readonly type="text" />
                    <span asp-validation-for="Record.关联单号" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Record.日期" class="col-4 col-sm-2 col-form-label"></label>
                <div class="col-8 col-sm-10">
                    <input asp-for="Record.日期" class="form-control" data-provide="datepicker" data-date-format="yyyy-mm-dd" readonly type="text" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
                    <span asp-validation-for="Record.日期" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Record.收" class="col-4 col-sm-2 col-form-label"></label>
                <div class="col-8 col-sm-10">
                    <input asp-for="Record.收" class="form-control" v-model="record.收" />
                    <span asp-validation-for="Record.收" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Record.分配" class="col-4 col-sm-2 col-form-label"></label>
                <div class="col-8 col-sm-10">
                    <input asp-for="Record.分配" class="form-control" readonly v-bind:value="sumDistribution" />
                    <span asp-validation-for="Record.分配" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Record.发票号" class="col-4 col-sm-2 col-form-label"></label>
                <div class="col-8 col-sm-10">
                    <input asp-for="Record.发票号" class="form-control" />
                    <span asp-validation-for="Record.发票号" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Record.备注" class="col-4 col-sm-2 col-form-label"></label>
                <div class="col-8 col-sm-10">
                    <input asp-for="Record.备注" class="form-control" />
                    <span asp-validation-for="Record.备注" class="text-danger"></span>
                </div>
            </div>

            <!-- Details Table -->
            <partial name="_detailsTable" />

            <div class="form-group">
                <input type="submit" value="提交" class="btn btn-primary" />
            </div>

            <!-- Modal -->
            @*<partial name="_selectModal" />*@
            <partial name="_editModal" />
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">返回列表</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <partial name="_vue" model="Model" />
}
