@namespace Klazor
@inherits KComponentBase

<CascadingValue Value="this">
    <div class="row">
        @if (ColContent1 != null)
        {
            <div class="col-md-6">
                @ColContent1
            </div>
        }
    </div>
</CascadingValue>