@page
@model Pinhua2.Web.Pages.主数据.字典.DeleteModel

@{
    ViewData["Title"] = "Delete";
    var templateModel = new _CRUD_Template_Model
    {
        RecordMain = new _CRUD_Template_Model_Main
        {
            Title = "字典",
            Data = Model.字典,
        },
        RecordDetailsArray = new List<_CRUD_Template_Model_Details>
{
            new _CRUD_Template_Model_Details
            {
                Title="明细",
                Data = Model.字典D列表.Cast<object>(),
            },
        }
    };
}

<partial name="_CRUD_Template/_Delete" model="templateModel" />

<form method="post">
    <input type="hidden" asp-for="字典.RecordId" />
    <input type="submit" value="Delete" class="btn btn-danger" /> |
    <a asp-page="./Index">返回列表</a>
</form>
